<!DOCTYPE html>
<html lang="en">
<head>
    <title>Solicitud de Soporte</title>
</head>
<body>
<h2>Solicitud de Soporte</h2>

<form action="/soporte/crear" method="POST">

    <label>ID de Equipo:</label>
    <input type="text" name="equipoId" required><br>

    <label>Descripcion de Problema:</label>
    <input type="text" name="problema" required>

    <button type="submit">Registrar</button>
</form>

</body>
</html>
